body {
    color: #dfdfdf;
    background-color: rgb(22, 22, 22);
    text-align: center;
}

.green-banner {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
}

.blue-banner {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
}

.pink-banner {
    background-color: rgb(218, 5, 218);
    color: white;
    padding: 10px;
    text-align: center;
}

.grey-banner {
    background-color: rgb(116, 182, 248);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.white-banner{
    background-color: rgb(134, 134, 134);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;

}

p{
    padding: 30px 70px 40px 70px;
    font-family: 'Courier New', Courier, monospace;
}

.botao{
    padding: 20px 140px 20px 140px;
    border-radius: 20px;
}

.fase{
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
}

.titulo{
    padding: 70px 0px 20px 0px;
}

.informacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.senha{
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
} 

.senha:focus{
    border-color: #058625;
    box-shadow: 0 0 10px rgba(1, 145, 37, 0.5);
}